body {
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn-bottom {
  margin-top: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input[type=button] {
  background-color: lightgrey;
  border: none;
  padding: 12px 16px;
  text-decoration: none;
  cursor: pointer;
}

label {
  display: block;
}

label input {
  margin-left: 16px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table tr {
  border-bottom: 1px solid;
}

tbody tr:hover {
  background-color: lightgrey;
  cursor: pointer;
}